@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--color-background: #16161d;
	--color-text-dark: theme(colors.neutral.300);
	--font-family-custom: 'SUSE Mono', monospace;
}

@layer base {
	body {
		background-color: var(--color-background);
		color: var(--color-text-dark);
		font-family: var(--font-family-custom);
	}
}
